.footer{
  background-color: #000;
  color: #fff;
  font-weight:900;
  box-shadow: 0 0 3px #262627;
  padding-top: 40px;
}

p.footerwebsite a {
  color: #fff;
}
p.footerwebsite > a:hover {
  color:yellow;
  text-decoration: none;
}

p.social-icons > i.fa.fa-facebook-official.fa-2x:hover{
  color: #fff;
}

p.social-icons > i.fa.fa-twitter.fa-2x:hover{
  color: #00aced;
}

p.social-icons > i {
  padding: 0px 15px;
}
