.font, .page-title {
  font-family: 'Quicksand', sans-serif;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 125px;
}
