.results-div {
  display:inline;
}

.mood-bar {
  width: 500px;
  background-color: red;
}

.info {
  color: white;
}

.mood {
  color: white;
}

.tweets {
  color: white;
}

.profilepic {
  border-radius: 50%;
  width: 7%;
}

.tweetdiv {
  margin-bottom: 15px;
  margin-top: 15px;
}

div.col-md-6.info > img {
  max-width: 85%;
}
